nav {
    /* background: green; */
    /* background-image: linear-gradient(to top left, red, yellow); */
    padding: 0 2% 0 2%;
    width: 100%;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
  }
  
  nav a:hover {
    color: white;
    font-weight: 800;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 20px;
  }
  
  h1 {
    text-align: left;
    margin: 20px 0px 20px 10px;
  }