.mainPage {
    display: flex;
    justify-content: space-around;
}

.name {
    margin: 10px;
}

.submit {
    background-color: green;
    font-weight: bold;
    border-radius: 10px;
    padding: 2px;
    margin: 10px;
}

button {
    background-color: red;
    font-weight: bold;
    border-radius: 10px;
    padding: 2px;
    margin: 10px;
}

a {
    font-weight: bold;
    text-decoration: underline;
}